[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
gunicorn = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
init_db = "python3 init_db.py"
dev = "flask run -p ${PORT}"
start = "gunicorn url_shortener:app"
