<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Lap 4 Challenge - URL Shortener</title>
    </head>

    <body>

        <main class="main-container">
            {% block content %}


            {% endblock content %}
        </main>

    </body>
</html>