{% extends 'base.html' %}

{% block content %}

<div class="section ">
	<img src="{{ url_for('static', filename='img/urlly_logo.png') }}" class="urlly-logo img-fluid mx-auto d-block" alt="Urlly Logo">
	<h3 class="text-center mb-3 text-light">Get Urllified!</h3>

	<div class="row">
		<div class="col-md-2"></div>
		<section id="url-form" class="col-md-8 url-form">
			<form id="submission" class="url-form" method="POST" action="{{ url_for('main.index') }}">
				<div class="form-floating mb-3 input">
					<input type="url" class="form-control" id="url" name="url" placeholder="Enter URL" value="{{ request.form['url'] }}" autofocus />
					<label for="url">Enter URL</label>
				</div>
				<div class="form-floating mb-3 input ">
					<input type="text" class="form-control" id="shortened_id" name="shortened_id" placeholder="Enter custom URL" value="{{ request.form['shortened_id'] }}" />
					<label for="shortened_id">Enter Custom ID</label>
				</div>
				
				<div class="form-group text-center">
					<button type="submit" class="btn btn-lg">Urllify!</button>
				</div>
				<p class="statement">By clicking Urllify, you agree to Urlly's <span class="bold-text">Terms of Use, Privacy Policy and Cookie Policy</span></p>
			</form>
				{% if short_url %}
					<hr>
					<div class="popup-container">
						<p class="popup-statement text-center">Your short URL is: <a class="short-url" href="{{ short_url }}">{{ short_url }}</a></p>
					</div>
				{% endif %}
		</section>
		<div class="col-md-2"></div>
	</div>
</div>
{% endblock %}
