{% extends "base.html" %}

{% block content %}
    <h1>Free URL Shortener</h1>
    
    <section id="url-form">
        <form id="submission" action="/url-shortener" method="POST">
            <span id="input">
                <input type="url" id="url_value" name="url_value">
            </span>
            <input type="submit" id="shorten-url" value="submit url">
         <p>By clicking Shorten URL, you agree to Rebrandly's Terms of Use, Privacy Policy and Cookie Policy</p>
        </form>

    </section>

    <section class="statement">
        <h2>A fast and simple URL shortener</h2>

        <p><span class="bold-text">Free URL Shortener</span> for transforming long, ugly links into nice, memorable and trackable short URLs. Use it to shorten links for any social media platforms, blogs, SMS, emails, ads, or pretty much anywhere else you want to share them. Twitter, Facebook, YouTube, Instagram, WhatsApp, emails, SMS, videos. RB.GY is <span class="bold-text">the best free alternative to generic URL shorteners like bitly and tinyurl.</span> After shorterning the URL, <span class="link-text"><a href="https://free-url-shortener.rb.gy/stats/index.html">check how many clicks it received</a></span></p>
    </section>
        
    

{% endblock %}
