@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background: #28384A;
}

.container {
    background-color: #28384A;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

h3 {
    padding: 20px;
}

.url-form {
    padding: 30px 0 60px 0;
}

input {
    overflow: visible;
    cursor: text;
    padding: 5px;
    color: #000;
    margin: 5px 20px;
}

.btn {
    background-color: #2281C2;
    color: aliceblue;
    margin: 20px auto;
}

.statement {
    padding: 30px 0;
    color: aliceblue;
    text-align: center;
}

.bold-text {
    color: #3E96D4;
    font-weight: bold;
}

.bold-text:hover {
    color: aliceblue;
}

.popup-container {
    background-color: aliceblue;
    border: 1px solid #28384A;
    border-radius: 5px;
    color: #000;
    padding: 20px;
}

.popup-statement {
    color: #000;
}

.short-url {
    color: #000;
    text-decoration: none;
}

.urlly-logo {
    max-height: 200px;
    width: auto;
}

