*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    background-color: #28384A;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.url-form {
    padding: 20px 0;
}

input {
    overflow: visible;
    cursor: text;
    padding: 5px;
    color: #000;
}

button {
    background-color: #2281C2;
    color: aliceblue;
    margin: 20px auto;
}

.statement {
    padding: 60px 0;
    color: aliceblue;
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.link-text {
    color: #3E96D4;
    font-weight: bold;
}

.link-text:hover {
    color: aliceblue;
}


